---
import { Button } from "@dynage/ui/components/button";
import {
  Card,
  CardAction,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@dynage/ui/components/card";
import { Badge } from "@dynage/ui/components/badge";

interface Props {
  title: string;
  description: string;
  image: string;
  date: string;
  price: string;
}

const { title, description, image, date, price } = Astro.props;
---

<>
  <Card className="relative mx-auto w-full max-w-sm pt-0">
    <div class="absolute inset-0 z-30 aspect-video bg-black/35"></div>
    <img
      src={image}
      alt="Event cover"
      class="relative z-20 aspect-video w-full object-cover brightness-60 grayscale dark:brightness-40"
    />
    <CardHeader>
      <CardAction>
        <Badge variant="secondary">{date}</Badge>
      </CardAction>
      <CardTitle>{title}</CardTitle>
      <CardDescription>
        {description.slice(0, 60)} 
      </CardDescription>
    </CardHeader>
    <CardFooter className="">
      <Button className="w-full">View Event</Button>
    </CardFooter>
  </Card>
</>
