---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CountUp from '../components/CountUp.astro';
import Section from '../components/Section.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';
import SectionSpacer from '../components/SectionSpacer.astro';
import StatsGrid from '../components/StatsGrid.astro';
import InvestorGrid from '../components/InvestorGrid.astro';
import IndustryCard from '../components/IndustryCard.astro';
import { MeetingUrl } from '../consts';

const projects = await getCollection('projects');
---

<Layout title="Welcome to Neophyte">
	<Header gridBg>
		<h1 class="text-10 leading-[1.2] lg:text-20">Engineering <span class="font-bold">Intelligent Systems</span>  for a Smarter, More Efficient World</h1>
		<p class=" w-90% mx-auto mt-5">At Neophyte, we design and develop advanced devices and integrated automation systems that drive process optimization across the Health, Real Estate, Agriculture, and Energy industries.</p>
		<div class="my-4 flex justify-center gap-2"> 
					<button class="bg-black p-3 text-white w-fit text-sm">Explore Our Solutions</button>
					<a href=`${MeetingUrl}` class="bg-white border border-black p-3 text-black w-fit text-sm">Partner With Us</a>

		</div>
	</Header>
	<main>
		<Section index fullWidthBorder>
			<h2 class="title my-3">INDUSTRIES WE SERVE</h2>
					<IndustryCard  />
		</Section>
		<SectionSpacer size="md" />
		<Section fullWidthBorder={false}>
			<h2 class="text-xl my-10">Our projects are trusted. By everyone? You bet! Names you recognize? Probably! Used all over the world? Absolutely!</h2>
		</Section>
		<StatsGrid entryName='downloads' />
		<SectionSpacer size="md" />
		<Section index source="investors.md" fullWidthBorder>
			<div class="pb-12.5">
				<h2 class="title">Some of our Partners</h2>
				<p class="subtitle-small md:w-[50%]">There's literally dozens of them, and they all want to be listed below to get some sort of credit for our work.</p>
			</div>
			<InvestorGrid />
		</Section>
		<SectionSpacer />
	</main>
</Layout>